.city-details-wrapper {
  width: 100%;
}

.details-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city-details-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 240px;
  width: 100%;
  max-width: 400px;
  max-height: 280px;
  border-radius: 15px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
  padding: 10px;
  height: 200px;

  p {
    margin: 0;
    padding: 0;
  }
  img {
    width: 100px;
    height: 100px;
  }
}

.details-temp {
  font-size: 4rem;
  font-weight: 800;
}

.sun-times {
  display: flex;
  justify-content: space-between;
  align-items: center;
}