body {
  background-color: #f6f6f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.city-list {
  margin: 0;
  padding: 0;
  
  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }
}